In [1]:
#Analyze the possible host vulnerabilities on 21, 22, 23 tcp port and interactions with mail servers.
import protocols.tcp.tcp as tcp
import protocols.fdns.type_txt.standard.dkim as dkim
import protocols.fdns.type_txt.standard.dmarc as dmarc
import protocols.fdns.type_txt.standard.sts as sts
import protocols.fdns.type_txt.standard.spf as spf
import protocols.fdns.type_a.a as a

"""
#Create necessary dataframe.
df_a = a_module.get_df_a('./data/project_sonar/2021-04-23-1619136719-fdns_a.json.gz')
df_ssh = tcp_module.get_df_tcp('./data/project_sonar/2021-04-29-1619726956-ssh_22.csv.gz')
df_telnet = tcp_module.get_df_tcp('./data/project_sonar/2021-04-30-1619776121-telnet_23.csv.gz')
df_ftp = tcp_module.get_df_tcp('./data/project_sonar/2021-04-07-1617768240-ftp_21.csv.gz')
df_dkim = dkim_module.get_df_dkim('./data/project_sonar2021-04-23-1619217645-fdns_txt.json.gz')
df_dmarc = dmarc_module.get_df_dmarc('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
df_sts = sts_module.get_df_sts('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
df_spf = spf_module.get_df_spf('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
"""

#Create necessary TEST dataframe.
df_a = a.get_df_a('./data/project_sonar/test_a.json')
df_ssh = tcp.get_df_tcp('./data/project_sonar/test_ssh.json')
df_telnet = tcp.get_df_tcp('./data/project_sonar/test_telnet.json')
df_ftp = tcp.get_df_tcp('./data/project_sonar/test_ftp.json')
df_dkim = dkim.get_df_dkim('./data/project_sonar/test_dkim.json')
df_dmarc = dmarc.get_df_dmarc('./data/project_sonar/test_dmarc.json')
df_sts = sts.get_df_sts('./data/project_sonar/test_sts.json')
df_spf = spf.get_df_spf('./data/project_sonar/test_spf.json')

#The hostname to search.
hostname = '0.188.12.93.rev.sfr.net'

#Find hostname in the A-dataframe.
df_a_filtered = a.fdns.get_df_hostname_specified(df_a, hostname)

#Find ip-address in all TCP-dataframes. 
ip_address = [df_a_filtered.iloc[0]['Ip']]
df_ssh_filtered = tcp.get_df_ip_selected(df_ssh, 'S_address', ip_address, 0)
df_telnet_filtered = tcp.get_df_ip_selected(df_telnet, 'S_address', ip_address, 0)
df_ftp_filtered = tcp.get_df_ip_selected(df_ftp, 'S_address', ip_address, 0)


#Find hostname in the TXT-dataframe.
df_dkim_filtered = dkim.txt.fdns.get_df_hostname_specified(df_dkim, hostname)
df_dmarc_filtered = dmarc.txt.fdns.get_df_hostname_specified(df_dmarc, hostname)
df_sts_filtered = sts.txt.fdns.get_df_hostname_specified(df_sts, hostname)
df_spf_filtered = a.fdns.handle.pd.DataFrame()
for index, item in enumerate(df_spf['IP4_ADDRESS']):
    if type(item) == list and ip_address[0] in item:
        df_spf_filtered = df_spf_filtered.append(df_spf.loc[index])
for index, item in enumerate(df_spf['IP6_ADDRESS']):
    if type(item) == list and ip_address[0] in item:
        df_spf_filtered = df_spf_filtered.append(df_spf.loc[index])
                     
#Output dataframe
print("SSH PORT OPEN:")
display(df_ssh_filtered)
print("\nTELNET PORT OPEN:")
display(df_telnet_filtered)
print("\nFTP PORT OPEN:")
display(df_ftp_filtered)
print("\nDKIM STANDARD:")
display(df_dkim_filtered)
print("\nDMARC STANDARD:")
display(df_dmarc_filtered)
print("\nSTS STANDARD:")
display(df_sts_filtered)
print("\nSPF STANDARD:")
display(df_spf_filtered)

SSH PORT OPEN:

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-29 20:33:27,93.12.188.0,22,71.6.233.20,22,55273,56

TELNET PORT OPEN:

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-30 09:48:51,93.12.188.0,23,71.6.233.5,23,0,60

FTP PORT OPEN:

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-07 04:09:10,93.12.188.0,21,71.6.233.10,21,0,53

DKIM STANDARD:

,Date,Domain,HASH_ALG,KEY_TYPE,TAG,PUBL_KEY,SERVICE,NOTE
9,2021-04-23 22:49:09,0.188.12.93.rev.sfr.net,None,rsa,None,MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCEorU89e...,None,None
15,2021-04-23 22:49:37,0.188.12.93.rev.sfr.net,None,rsa,s,MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwp...,None,None

DMARC STANDARD:

,Date,Domain,ASPF,ADKIM,FO,P,PCT,RF,RI,RUA,RUF,SP
3,2021-04-23 22:47:36,0.188.12.93.rev.sfr.net,r,r,1,quarantine,100,afrf,86400,mailto:system@zyndic.com,mailto:system@zyndic.com,quarantine
17,2021-04-24 00:07:07,0.188.12.93.rev.sfr.net,s,s,1,reject,100,None,None,None,None,reject

STS STANDARD:

                 Date                   Domain             Id
7 2021-04-24 01:45:45  0.188.12.93.rev.sfr.net   201901071200
9 2021-04-24 02:00:30  0.188.12.93.rev.sfr.net  1600919091060

SPF STANDARD:

,A,ALL_QUALIFIERS,A_REFERENCE_DOMAIN,Date,Domain,EXISTS,EXPLANATION,INCLUDE,IP4_ADDRESS,IP4_MECHANISM,IP4_QUALIFIERS,IP6_ADDRESS,IP6_MECHANISM,IP6_QUALIFIERS,MX,MX_REFERENCE_DOMAIN,PTR,PTR_REFERENCE_DOMAIN,REDIRECT
7,+a,?,NaN,2021-04-23 22:49:06,0--0-us.salessourceinc.com,NaN,None,NaN,[93.12.188.0],[],[+],NaN,NaN,NaN,+mx,NaN,NaN,NaN,NaN
18,+a,~,NaN,2021-04-23 22:45:04,0--0.us,NaN,None,NaN,"[174.136.12.72, 174.136.13.55, 93.12.188.0]","[[], []]","[+, +, +]",NaN,NaN,NaN,+mx,NaN,NaN,NaN,NaN

,Date,Domain,A,MX,PTR,A_REFERENCE_DOMAIN,MX_REFERENCE_DOMAIN,PTR_REFERENCE_DOMAIN,IP4_ADDRESS,IP4_MECHANISM,IP4_QUALIFIERS,IP6_ADDRESS,IP6_MECHANISM,IP6_QUALIFIERS,INCLUDE,EXISTS,REDIRECT,EXPLANATION,ALL_QUALIFIERS
0,2021-04-23 22:46:00,0---------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
1,2021-04-23 22:48:09,0--------o--------0.tumblr.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
2,2021-04-23 22:45:30,0-----1-----2.tumblr.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
3,2021-04-23 22:45:04,0----o.tumblr.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
4,2021-04-23 22:49:00,0--0--0--0.com,a,mx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,?
5,2021-04-23 22:50:25,0--0--0.de.pagesstudy.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
6,2021-04-23 22:47:33,0--0-0.ru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
7,2021-04-23 22:49:06,0--0-us.salessourceinc.com,+a,+mx,NaN,NaN,NaN,NaN,[93.12.188.0],[],[+],NaN,NaN,NaN,NaN,NaN,NaN,None,?
8,2021-04-23 22:47:46,0--0.de.pagesstudy.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
9,2021-04-23 22:49:59,0--0.jp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,~
10,2021-04-23 22:48:56,0--0.link,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
11,2021-04-23 22:46:06,0--0.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,~
12,2021-04-23 22:46:20,0--0.net.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,~
13,2021-04-23 22:53:00,0--0.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
14,2021-04-23 22:51:24,0--0.ru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
15,2021-04-23 22:50:24,0--0.science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
16,2021-04-23 22:48:12,0--0.tel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,-
17,2021-04-23 22:45:24,0--0.uk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-04-23 22:45:04,0--0.us,+a,+mx,NaN,NaN,NaN,NaN,"[174.136.12.72, 174.136.13.55, 93.12.188.0]","[[], []]","[+, +, +]",NaN,NaN,NaN,NaN,NaN,NaN,None,~
19,2021-04-23 23:07:13,0--0.us.,+a,+mx,NaN,NaN,NaN,NaN,"[174.136.12.72, 174.136.13.55, 174.136.12.78]","[[], []]","[+, +, +]",NaN,NaN,NaN,NaN,NaN,NaN,None,~